{% extends "base_with_navbar.html" %}

{% block content %}
<div class='container'>
  <div class="input-field col s12">
  <form method="GET" action="/">
    <select name='cuisine'>
      <option value="" disabled selected>Choose your option</option>
      {% for cuisine in cuisines %}
      <option value="{{ cuisine.id }}">{{ cuisine.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn right">Filter</button>
  </form>
  </div>
    <table>
        <thead>
            <tr>
            <th scope="col">Restaurant name</th>
            <th scope="col">Cuisine name</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
            <td><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a></td>
            <td>{{ restaurant.cuisine }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock%}