{% extends "base_with_navbar.html" %}

{% block content %}
<div class='container'>
    <table>
        <thead>
            <tr>
            <th scope="col">Restaurant name</th>
            <th scope="col">Cuisine name</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
            <td><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a></td>
            <td>{{ restaurant.cuisine }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}