{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="input-field col s6 offset-s3">
            {% if user_exists %}
            <span class="red-text text-darken-2">
                User already exists
            </span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-s3 z-depth-1 grey lighten-4" id="panell">
            <h5 id="title">Register Form</h5>
            <form action="/register" method="POST">
                {% csrf_token %}
                <div class="input-field col s12" id="username">
                    <input placeholder="Username" type="text" class="validate" name="username">
                </div>
                <div class="input-field col s12" id="password">
                    <input placeholder="Password" type="password" class="validate" name="password">
                </div>
                <!--<div class="input-field col s12" id="password_check">
                    <input  type="password" class="validate">
                    <label for="password_check">Password check</label>
                </div>-->
                <div class="input-field col s6" id="first_name">
                    <input placeholder="First name" type="text" class="validate" name="first_name">
                </div>
                <div class="input-field col s6" id="last_name">
                    <input placeholder="Last name" type="text" class="validate" name="last_name">
                </div>
                <div class="input-field col s12" id="date">
                    <input placeholder="Date of birth" type="text" class="datepicker" name="birthday">
                </div>
                <a href="/login" class="col s2">Sign in</a>
                <button class="btn waves-effect waves-light right light-blue col s4" type="submit" name="action">Register
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({format:"yyyy-mm-dd"});
  });
</script>
{% endblock %}