{% extends "base_with_navbar.html" %}

{% block content %}
<div class='container'>
    <h1>{{ restaurant.name }}</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Dish</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
        {% for dish in restaurant.restaurant_dish.all %}
            <tr>
                <td>{{ dish.dish.name }}</td>
                <td>{{ dish.price }}</td>
                <td><a href="/add_cart/{{ dish.id }}">Add to cart</a></td>
                <td><a href="/edit/review/{{ dish.id }}">My review</a></td>
                <td><a href="/reviews?id={{ dish.id }}">Reviews</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}